{{#extend "base"}}
{{#content "main" mode="prepend"}}
<div class="content home">
	<h1>Mackenzie F. Burnett</h1>
	<p><a href="http://joininteract.com">Interact</a></p>
	<p><a href="https://coreos.com">CoreOS</a></p>
	<p><a href="http://redspread.com">Redspread</a></p>
	<p><a href="http://bitc.mp">Bitcamp</a></p>
	<p><a href="http://startupshell.org">Startup Shell</a></p>
</div>
{{/content}}
{{/extend}}
