{{#extend "base"}}
{{#content "main" mode="prepend"}}
<div class="content home">
	<h1>Mackenzie F. Burnett</h1>
	<p>Cofounder, <a href="http://thenext50.us">The Next 50</a></p>
	<p>Board Member, <a href="http://joininteract.com">Interact</a></p>
	<p>Board Advisor, <a href="http://thewellwork.org">The Well</a></p>
	<p>Product Manager, <a href="https://coreos.com">CoreOS</a></p>
	<p>Cofounder, <a href="http://redspread.com">Redspread</a></p>
	<p>Cofounder, <a href="http://bit.camp">Bitcamp</a></p>
	<p>Executive Director, <a href="http://startupshell.org">Startup Shell</a></p>
</div>
{{/content}}
{{/extend}}
